
.section-tictactoe {
    text-align: center;
    background-color: #0a050c;
    color: #FFF;
    padding: 80px 30px;
    min-height: 100vh;
}
.section-tictactoe__title {
    color: #39ffb8;
    font-size: 50px;
}


.box__btns {
    width: 350px;
    aspect-ratio: 1;
    margin: 0 auto 50px auto;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2.5px;
    grid-column-gap: 2.5px;
}

.box__btns__btn {
    font-size: 50px;
    border: none;
    cursor: pointer;
    background-color: #1f3540;
    border: none;
}
.box__btns__btn:disabled {
    cursor: not-allowed;
    opacity: .4;
}
.box__btns__btn--o {
    color: #28fdc9;
}
.box__btns__btn--x {
    color: #fbc224;
}
.box__btns__btn.win {
    background-color: orange;
    color: #FFF;
    opacity: 1;
}

.btn-reset__btn {
    font-size: 14px;
    padding: 15px 25px;
    font-weight: bold;
    color: #39ffb8;
    background-color: #1f3540;;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}